button {
  height: 350px;
  width: 450px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-image: url('example.png');
  background-repeat: no-repeat;
  background-size: contain;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}